
.contentText a,.overview_mobile .credits a,.navigation_credits_box a {
	color: rgba(136,212,255,1.00);
	text-decoration: none;
	pointer-events: all;
	position: relative;
	margin-left: 0em;
	margin-right:0em
}

.contentText a:hover,.overview_mobile .credits a:hover,.navigation_credits_box a:hover
	{
	text-decoration: underline
}

@media screen and (max-width: 700px) {
	.contentText a,.overview_mobile .credits a,.navigation_credits_box a {
		margin-left: 4px;
		margin-right: 4px
	}
}

.contentText a:before,.overview_mobile .credits a:before,.navigation_credits_box a:before
	{
	left: -16px;
	top: 7px;
	position: absolute;
	width: 10px;
	height: 12px;
	content: "";
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center
}

@media screen and (max-width: 700px) {
	.contentText a:before,.overview_mobile .credits a:before,.navigation_credits_box a:before
		{
		left: -12px;
		top: 3px
	}
}

.invert .contentText a {
	color: black
}

/*
.invert .contentText a:before {
	background-image:
}
*/

.overview_mobile .credits a,.navigation_credits_box a {
	color: #b4c552;
	text-decoration: none
}

/*

.overview_mobile .credits a:before,.navigation_credits_box a:before {
	background-image:
	top: 4px
}
*/

.overview_mobile .credits a:hover,.navigation_credits_box a:hover {
	text-decoration: underline;
	color: #b4c552
}

.loading_spinner {
	background-color: #252526;
	background-repeat: no-repeat;
	background-position: center center
}

.loading_spinner .loading_spinner_inner {
	left: 50%;
	top: 50%;
	width: 204px;
	height: 202px;
	margin-left: -102px;
	margin-top: -101px;
	position: absolute
}

.loading_spinner .loading_spinner_inner:before {
	content: " ";
	width: 204px;
	height: 202px;
	position: absolute;
}

.loading_spinner .loading_spinner_inner div {
	width: 204px;
	height: 202px;
	position: absolute;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: rotateSpinner;
	-moz-animation-name: rotateSpinner;
	animation-name: rotateSpinner;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear
}

.js .header {
	visibility: hidden;
	top: -130px
}

.js .header.active {
	visibility: visible;
	top: 0;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s
}

.header {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	z-index: 3;
	color: #fff;
	margin: 0;
	padding: 30px 100px 0 8%;
	font: 75%/1.5 'Verdana', sans-serif;
	-webkit-transition: visibility 0s linear 300ms, top 300ms;
	-moz-transition: visibility 0s linear 300ms, top 300ms;
	transition: visibility 0s linear 300ms, top 300ms
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.header {
		display: none
	}
}

@media screen and (max-width: 700px) {
	.header {
		display: none
	}
}

.header:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: #000000;
	opacity: 0.8;
	z-index: -1
}

.header:after {
	content: " ";
	position: absolute;
	width: 109px;
	height: 32px;
	background-repeat: no-repeat
}

.header ul {
	margin: 0;
	padding: 0
}

.header .wdr_subnavi {
	float: right;
	margin-top: 17px;
	margin-left: 110px
}

.header .wdr_navi {
	position: absolute;
	bottom: 12px;
	font-weight: bold;
	border-left: 5px solid #fff
}

.header .wdr_navi li.active {
	margin-left: 7px
}

.header li {
	display: inline;
	list-style-type: none
}

.header li+li:before {
	content: " | ";
	color: #a0a7be
}

.header a {
	text-decoration: none;
	color: #fff
}

.header a:hover {
	text-decoration: underline
}

.header .search {
	float: right;
	margin: 8px 0 0 13px;
	color: #fff;
	background-color: #065195;
	white-space: nowrap;
	padding: 0;
	height: 1.8333em
}

.header .search fieldset {
	margin: 0;
	padding: 0;
	border: 0
}

.header .search input {
	-webkit-appearance: none;
	color: #065195;
	border: 0.09em solid #065195;
	float: left;
	font-size: 93%;
	letter-spacing: 1px;
	height: 1.7921em
}

.header .search input:focus {
	outline-width: .2688em
}

.header .search input[type=text] {
	width: 18.8745em;
	height: 1.0753em;
	margin-right: .2688em;
	padding: .3584em 0;
	text-indent: .5376em
}

.header .search input[type=submit] {
	color: #fff;
	background-color: #065195;
	width: 6.4516em;
	font-weight: bold;
	cursor: pointer;
	padding: .2688em 0
}

.header .search input::-webkit-input-placeholder {
	color: #065195;
	opacity: 1
}

.header .search input:-moz-placeholder {
	color: #065195;
	opacity: 1
}

.header .search input::-moz-placeholder {
	color: #065195;
	opacity: 1
}

.header .search input:-ms-input-placeholder {
	color: #065195;
	opacity: 1
}

.header .search .placeholder {
	color: #065195
}

.page {
	font-size: 16px;
	color: #fff;
	background-color: #000;
	font-family:"Apple SD Gothic Neo", "MalgunGothic", "Malgun Gothic", �뗭�, dotum,Arial,Helvetica,sans-serif;
	letter-spacing: -0.04em;
	line-height: 1.9em;
}

.page .content {
	font-size: 1em;
}

.js .page:first-child .content {
	font-size: 1em;
	line-height: 1.9em;
}

@media screen and (max-width: 700px) {
	.page .content {
		font-size: 0.85em;
		line-height: 1.8em;
	}
	.js .page:first-child .content {
		font-size: 0.85em;
		line-height: 1.8em;
	}
}

.page h2 {
	font-size: 1.375em
}

.page h2 .tagline {
	display: block;
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
	padding-bottom: 0.9em;
	letter-spacing: 0.1em;
	line-height: 1.8em;
}

.page h2 .title {
	display: block;
	font-size: 2.2em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0.2em;
	letter-spacing: 0em;
	line-height: 1em
}

.page h2 .subtitle {
	display: block;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 2.4em
}

.page .contentText>* {
	font-size: 1em
}

.page p {
	margin-top: 0;
	white-space: normal;
	word-break: normal;
}

.js .page:first-child .content_and_background .scroller>div:after {
	content: " ";
	position: absolute;
	width: 109px;
	height: 32px;
	background-repeat: no-repeat;
	top: 30px;
	z-index: 200
}

.js .page:first-child.invert .content_and_background .scroller>div:after
	{
}

@media screen and (max-width: 768px) {
	.js .page:first-child .scroller>div,
	.js .page:first-child .content_and_background>.page_header
		{
		padding: 54% 10% 5%;
		width: 100%
	}
}

@media screen and (max-width: 768px) {
	.js .page .scroller>div {
		padding: 48% 10% 5% 
	}
}

@media screen and (max-width: 500px) {
	.js .page:first-child .scroller>div,
	.js .page:first-child .content_and_background>.page_header
		{
		padding: 81% 8% 5%;
		width: 100%
	}
}

@media screen and (max-width: 500px) {
	.js .page .scroller>div {
		padding: 72% 8% 5% 
	}
}

.js .page:first-child h2 .title {
	font-size: 2.6em;
	margin-bottom: 0.135em;
	letter-spacing: 0em;
	line-height: 1em
}

.js .page:first-child h2 .subtitle {
	display: block;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.8em;
	margin-top: 0;
	margin-bottom: 1.875em
}


.js .page .close_button {
}

.navigation .button,.navigation .navigation_mute,.navigation .navigation_share
	{
	height: 42px;
	width: 42px
}

.navigation .navigation_main .button {
	background-position: -22px -30px
}

.has_no_mobile_platform .navigation .navigation_main .button:hover {
	background-position: -22px -85px
}

body.has_mobile_platform .navigation .navigation_main .button.pressed,body.has_no_mobile_platform .navigation .navigation_main .button.pressed
	{
	background-position: -22px -140px
}

.navigation .navigation_main.active .button {
	background-position: -89px -30px
}

.has_no_mobile_platform .navigation .navigation_main.active .button:hover
	{
	background-position: -89px -85px
}

body.has_mobile_platform .navigation .navigation_main.active .button.pressed,body.has_no_mobile_platform .navigation .navigation_main.active .button.pressed
	{
	background-position: -89px -140px
}

.navigation .navigation_home .button {
	background-position: -155px -30px
}

.has_no_mobile_platform .navigation .navigation_home .button:hover {
	background-position: -155px -85px
}

body.has_mobile_platform .navigation .navigation_home .button.pressed,body.has_no_mobile_platform .navigation .navigation_home .button.pressed
	{
	background-position: -155px -140px
}

.navigation .navigation_home.deactivated .button {
	background-position: -155px -195px;
	cursor: default
}

.has_no_mobile_platform .navigation .navigation_home.deactivated .button:hover
	{
	background-position: -155px -195px
}

.navigation .navigation_index .button {
	background-position: -222px -30px
}

.has_no_mobile_platform .navigation .navigation_index .button:hover {
	background-position: -222px -85px
}

body.has_mobile_platform .navigation .navigation_index .button.pressed,body.has_no_mobile_platform .navigation .navigation_index .button.pressed
	{
	background-position: -222px -140px
}

.navigation .navigation_index.active .button {
	background-position: -222px -85px
}

body.has_mobile_platform .navigation .navigation_index.active .button.pressed,body.has_no_mobile_platform .navigation .navigation_index.active .button.pressed
	{
	background-position: -222px -140px
}

.navigation .navigation_fullscreen .button {
	background-position: -289px -30px
}

.has_no_mobile_platform .navigation .navigation_fullscreen .button:hover
	{
	background-position: -289px -85px
}

body.has_mobile_platform .navigation .navigation_fullscreen .button.pressed,body.has_no_mobile_platform .navigation .navigation_fullscreen .button.pressed
	{
	background-position: -289px -140px
}

.navigation .navigation_fullscreen.active .button {
	background-position: -289px -85px
}

body.has_mobile_platform .navigation .navigation_fullscreen.active .button.pressed,body.has_no_mobile_platform .navigation .navigation_fullscreen.active .button.pressed
	{
	background-position: -289px -140px
}

.navigation .navigation_hide_text .button {
	background-position: -670px -30px
}

.has_no_mobile_platform .navigation .navigation_hide_text .button:hover
	{
	background-position: -670px -85px
}

body.has_mobile_platform .navigation .navigation_hide_text .button.pressed,body.has_no_mobile_platform .navigation .navigation_hide_text .button.pressed
	{
	background-position: -670px -141px
}

.navigation .navigation_hide_text.active .button {
	background-position: -670px -85px
}

body.has_mobile_platform .navigation .navigation_hide_text.active .button.pressed,body.has_no_mobile_platform .navigation .navigation_hide_text.active .button.pressed
	{
	background-position: -670px -141px
}

.navigation .navigation_mute {
	background-position: -355px -30px
}

.navigation .navigation_mute.muted {
	background-position: -489px -30px
}

.has_no_mobile_platform .navigation .navigation_volume_box:hover+a .navigation_mute
	{
	background-position: -355px -85px
}

.has_no_mobile_platform .navigation .navigation_volume_box:hover+a .navigation_mute.muted
	{
	background-position: -489px -85px
}

.navigation .navigation_share {
	background-position: -555px -30px
}

.has_no_mobile_platform .navigation .navigation_share_box:hover+a .navigation_share
	{
	background-position: -555px -85px
}

.navigation .navigation_credits.button {
	background-position: -622px -30px
}

.has_no_mobile_platform .navigation .navigation_credits.button:hover {
	background-position: -622px -85px
}

body.has_mobile_platform .navigation .navigation_credits.button.pressed,body.has_no_mobile_platform .navigation .navigation_credits.button.pressed
	{
	background-position: -622px -141px
}

.navigation .share_google {
	background-position: -855px -39px
}

.navigation .share_twitter {
	background-position: -789px -39px
}

.navigation .share_facebook {
	background-position: -718px -39px
}

body.has_mobile_platform .navigation a .navigation_mute.pressed,body.has_no_mobile_platform .navigation a .navigation_mute.pressed
	{
	background-position: -355px -140px
}

body.has_mobile_platform .navigation a .navigation_mute.muted.pressed,body.has_no_mobile_platform .navigation a .navigation_mute.muted.pressed
	{
	background-position: -489px -140px
}

body.has_mobile_platform .navigation a .navigation_share.pressed,body.has_no_mobile_platform .navigation a .navigation_share.pressed
	{
	background-position: -555px -140px
}

body.has_mobile_platform .navigation a .share_google.pressed,body.has_no_mobile_platform .navigation a .share_google.pressed
	{
	background-position: -855px -145px
}

body.has_mobile_platform .navigation a .share_twitter.pressed,body.has_no_mobile_platform .navigation a .share_twitter.pressed
	{
	background-position: -789px -145px
}

body.has_mobile_platform .navigation a .share_facebook.pressed,body.has_no_mobile_platform .navigation a .share_facebook.pressed
	{
	background-position: -718px -145px
}

.has_no_mobile_platform .navigation a:hover .navigation_mute {
	background-position: -355px -85px
}

.has_no_mobile_platform .navigation a:hover .navigation_mute.muted {
	background-position: -489px -85px
}

.has_no_mobile_platform .navigation a:hover .navigation_share {
	background-position: -555px -85px
}

.has_no_mobile_platform .navigation a:hover .share_google {
	background-position: -855px -92px
}

.has_no_mobile_platform .navigation a:hover .share_twitter {
	background-position: -789px -92px
}

.has_no_mobile_platform .navigation a:hover .share_facebook {
	background-position: -718px -92px
}

.navigation_mobile .background_image:after {
}

.navigation_mobile .background_video:after {
}

.navigation_mobile .video:after {
}

.navigation_mobile .audio:after {
}

.navigation_mobile .audio_loop:after {
}

.navigation_mobile .internal_links:after {
}

.navigation_mobile li.panorama:after {
	width: 48px;
	background-size: 97px 100%;
	margin: 42px 78px;
	height: 33px
}

.navigation_mobile li.panorama.touched:after {
	background-position: -48.5px 0
}

.navigation_mobile .before_after:after {
}

.navigation_mobile .chart:after {
}

.overview .button {
	display: block;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px
}

.overview .button:hover {
	background-position: -32px 0
}

.overview .close {
}

.overview .close:before {
	content: " ";
	position: absolute;
	top: 3px;
	right: 45px;
	width: 100px;
	height: 30px;
}